<link rel="stylesheet" href="/css/styles-bluered.css" id="theme-styles">
<div class="signupstyle">
	<h2>Signup</h2>
	<%= form_tag("/users/create", method: :post) do %>
		<div>  
		  <%= label_tag(:username) %>
		  <%= text_field_tag(:name) %>
		</div>
		<div>
		  <%=label_tag(:birthdate)%>
		  <%=text_field_tag(:birthdate)%>
		</div>
		<div>
		  <%=label_tag(:Profile_pic)%>
		  <%=text_field_tag(:pic)%>
		</div>
		<div>
		  <%= label_tag(:password) %>
		  <%= password_field_tag(:password) %>
		</div>
		<div>    
		  <%= label_tag(:password_conformation) %>
		  <%= password_field_tag(:password_conformation) %>
		</div >
		<div>
			<%= submit_tag "Create" %>
		</div>
	<% end %>
</div>
