<link rel="stylesheet" href="/css/styles-orange.css" id="theme-styles">
<h3>Welcome to the Friends List!</h3>
<p>Your Friends</p>
<div class="friends">
	<%profile.friendships.each  do |friendship|%> 
		<div>  
	    	<a href="/generals/<%=friendship.friend_id%>"><p><img src="<%=friendship.friend.pic%>" alt="Willy Wonka" style="width:100px;height:100px; float: left;  margin-top: 0px; margin-left: 0px; border-radius: 180px"><%=friendship.friend.name%></p></a>
	    <%=form_tag("/friendships/deletefriend", method: :delete) do %>
	        <%= hidden_field_tag(:friendship_id, friendship.id) %>
	        <!--<%= friendship.id %>-->
	        <%=submit_tag "Delete"%>
	    <%end%>
	  </div>
	<%end%>
</div>
